/* Initial set-up */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

/* * Use CSS Variables */
:root {
  --accent-color: #4c93ff;
  --accent-color-dark: #2079ff;
}

html {
  scroll-behavior: smooth; /* * Smooth scrolling, prefer adding into <html> itself as it must be applied to the entire docuement */
  scroll-snap-type: y mandatory; /* * Snapping effect property that need to be added for parent element whose child elements need to be snapped upon finishing scrolling. */
}

body {
  background-color: rgb(245, 245, 245);
  scroll-behavior: smooth;
}

.mega-container section,
footer {
  scroll-snap-align: center; /* * Snapping effect property  will determine where the child elements should be snapped. */
}

/* * Every section MUST have a container */

/* Navbar */
nav {
  padding: 5px 0px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.nav-container {
  position: relative;
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 20px 0px 0px;

  display: flex; /* * Standard way to build navbar */
  justify-content: center;
  align-items: center;

  height: 3rem;
}

.nav-container ul.section-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  list-style: none;
}

ul.section-links li.section-name a {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(82, 82, 82);
  font-weight: 600;
}

.nav-container a.log-in-btn {
  position: absolute;
  right: 20px;

  display: inline-block; /* * Outside: Inline & Inside: Block */
  padding: 7px;

  text-decoration: none;
  font-size: 0.9rem;
  color: #333333;
  font-weight: 600;

  background-color: var(--accent-color);
  border-radius: 5px;
  color: #fff;
}
a.log-in-btn i.fa-user {
  margin-right: 5px;
}

nav .mobile-view {
  display: none;
}

.nav-container ul.section-links li.section-name a:hover {
  color: black;
  padding-bottom: 2px;
  border-bottom: 4px solid var(--accent-color);
}
.nav-container a.log-in-btn:hover {
  background-color: var(--accent-color-dark);
}

/* Hero-section */
.hero {
  background-color: rgb(245, 245, 245);
}

.hero .container {
  max-width: 1100px;
  margin: 0px auto 50px;
  padding: 30px 20px 20px;
  background: url(Images/hero-bg-desktop.png) no-repeat center bottom / contain;
  min-height: 490px;
}

/* * Note; Create your OWN utility-based classes */

.hero-title-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;

  padding-top: 25px;
}

.hero-title-description h1 {
  font-size: 2rem;
  line-height: 1.1;
  text-wrap: balance;
  width: 70%;
}

.hero-title-description p {
  width: 65%;
  line-height: 1.3;
  color: #333;
  font-size: 0.9rem;
  text-wrap: balance;
  margin-bottom: 14px;
}

.hero-btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
}

.primary-btn {
  background-color: var(--accent-color);
  color: white;
  margin-right: 7px;
}
.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  background-color: rgb(238, 238, 238);
  color: rgb(57, 57, 57);
}

/* VSL */
.vsl {
  background-color: black;
}

.vsl .container {
  max-width: 500px;
  margin: 0px auto;
  height: auto;
  gap: 1.5rem;
  padding: 65px 0px 50px;
}

.vsl-heading {
  color: white;
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.5rem;
  text-align: center;
  text-wrap: balance;
  margin: 0px 10px 20px;
}

.vsl .vsl-video {
  max-width: 490px;
  height: 290px;
  background: url(Images/video-thumbnail.png) no-repeat center / cover;

  border: 5px solid transparent;
  border-radius: 12px;

  margin: 0px 1rem;
}

.vsl .vsl-video:hover {
  cursor: pointer;
  border-radius: 12px;
  animation: thumbnail-border 2s linear infinite;
}

@keyframes thumbnail-border {
  0% {
    border-left-color: var(--accent-color-dark);
    border-style: ridge;
  }
  25% {
    border-top-color: var(--accent-color-dark);
    border-style: ridge;
  }
  50% {
    border-right-color: var(--accent-color-dark);
    border-style: ridge;
  }
  75% {
    border-bottom-color: var(--accent-color-dark);
    border-style: ridge;
  }
  100% {
    border-left-color: var(--accent-color-dark);
    border-style: ridge;
  }
}

.vsl a {
  display: block;
  max-width: 490px;
  text-decoration: none;
  text-align: center;

  border: 3px solid var(--accent-color-dark);
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;

  margin: 1rem 1rem 0px;
  padding: 8px 10px;

  transition: background-color 0.5s ease;
}

.vsl a:hover {
  background-color: var(--accent-color-dark);
}

/* Testimonial */
.testimonial {
  background-color: rgb(245, 245, 245);
}

.testimonial .container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 60px 20px 50px;
  height: auto;
}

.testimonial-heading {
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.5rem;
  text-align: center;
  text-wrap: balance; /* * New Property */
  margin-bottom: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  border: 2px solid var(--accent-color-dark);
  border-radius: 10px;
  padding: 12px;
}

.card .text {
  font-size: 0.8rem;
  text-wrap: balance;
  color: rgb(40, 40, 40);
}

.client-details {
  margin-top: 1rem;
}

.client-details .client-name {
  font-size: 0.85rem;
  font-weight: 600;
}
.client-details .business-name {
  font-size: 0.7rem;
  color: rgb(50, 50, 50);
}

/* Pricing */

.pricing {
  background-color: black;
  color: white;
}

.pricing .container {
  margin: 0px auto;
  max-width: 700px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  padding: 65px 10px 20px 10px;
}

.pricing-heading {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.free-trial-msg {
  text-align: center;
  text-wrap: balance;
  line-height: 1.7;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.price-plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  grid-gap: 15px;
  margin: 3rem 0px;
  padding: 0px 15px;
}

.plan-option {
  border-radius: 15px;
}

.free-plan {
  height: auto;
  padding: 30px;
  border: 1px solid rgb(100, 100, 100);
  color: rgb(240, 240, 240);
}
.paid-plan {
  height: auto;
  background-color: rgb(245, 245, 245);
  color: #000000;
  padding: 30px;
}

.freemium-heading {
  font-weight: 600;
  font-size: 1.5rem;
}
.preemium-heading {
  font-weight: 600;
  font-size: 1.5rem;
}

.freemium-description {
  font-size: 0.8rem;
  line-height: 1.8;
  text-wrap: balance;
}
.preemium-description {
  font-size: 0.85rem;
  line-height: 1.5;
  text-wrap: balance;
}

.freemium-price-details,
.preemium-price-details {
  margin: 1rem 0px 0.4rem;
}

.freemium-price-details h1 {
  font-weight: 500;
  font-size: 1.8rem;
  display: inline;
}
.preemium-price-details h1 {
  font-weight: 500;
  font-size: 1.8rem;
  display: inline;
}

.freemium-price-details p {
  font-size: 10px;
  color: rgb(200, 200, 200);
  display: inline;
}
.preemium-price-details p {
  font-size: 14px;
  display: inline;
}

.freemium-divider {
  border: 1px solid rgb(100, 100, 100);
}
.preemium-divider {
  border: 1px solid rgb(199, 199, 199);
}

.free-included-msg {
  font-size: 0.85rem;
  margin: 1rem 0px 0.5rem;
}

.freemium-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  line-height: 1.7;

  margin-top: 1rem;
  font-size: 0.8rem;
}
.preemium-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  line-height: 1.5;

  font-size: 0.85rem;
}

.freemium-features .feature {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.preemium-features .feature {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.fa-check {
  font-size: 1rem;
}

.price-plans .btn {
  color: #ffffff;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;
  margin-top: 20px;

  background-color: var(--accent-color-dark);
  border-radius: 15px;
}

.pricing-note {
  text-align: center;
  text-wrap: balance;
  line-height: 1.7;
  font-size: 0.8rem;
  color: rgb(232, 232, 232);
}

.features-comparison {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 0.8rem;
  font-weight: 600;
  margin: 20px 0px;
  letter-spacing: 0.5px;
}
.features-comparison:hover {
  cursor: pointer;
}

/* Footer */

footer .container {
  max-width: 1000px;
  height: auto;
  margin: 30px auto 5px;
  padding: 0px 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  gap: 1rem;
  margin: 10px 0px;
}

.footer-content ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  list-style: none;
}

.footer-content ul .heading {
  color: black;
  font-weight: 600;
}

.footer-content ul li a {
  color: rgb(45, 45, 45);
  font-size: 0.7rem;
  font-weight: 500;
  padding-bottom: 2px;
}
.footer-content ul li a:hover {
  color: black;
  border-bottom: 1px solid;
}

.footer-content .newsletter-form {
  border: 1px solid rgb(142, 142, 142);
  border-radius: 15px;
  height: 150px;
  max-width: 320px;
  padding: 10px 15px;
}
.footer-content .newsletter-form h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 0px;
}
.footer-content .newsletter-form p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.footer-content .newsletter-form .input-btn-wrap {
  display: flex;
  gap: 5px;
}
.footer-content .newsletter-form input {
  height: 35px;
  max-width: 175px;
  padding: 5px;
  margin-right: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(136, 136, 136);
}
.footer-content .newsletter-form button {
  height: 35px;
  text-align: center;
  padding: 5px 15px;
  font-size: 0.8rem;
  background-color: var(--accent-color-dark);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-media a {
  color: #696969;
}
.social-media {
  font-size: 0.8rem;
}
.social-media .linkedin {
  margin: 0px 5px;
}
.social-media .linkedin:hover {
  color: var(--accent-color-dark);
}
.social-media .twitter:hover {
  color: black;
}

footer .copyright {
  margin: 20px 0px 15px 0px;
  font-size: 0.7rem;
}

/* Media Queries */

/* * Mobile => 320px to 480px */
/* * Tablets => 600px to 768px */
/* * Laptops => 1024px to 1440px */
/* * á¸Œesktops => 1440px and beyond */

/* * Approach: Pick a section & make it responsive across all devices rather than trying to make all the sections responsive for a particular screen-size. */

/* Responsive: Tablets */

@media screen and (max-width: 800px) and (min-width: 500px) {
  /* Hero Section */

  .hero .container {
    margin-bottom: 20px;
  }
  .hero .hero-title-description h1 {
    font-size: 1.8rem;
    width: 85%;
  }
  .hero .hero-title-description p {
    font-size: 0.9rem;
    width: 80%;
  }
  .hero .primary-btn {
    background-color: var(--accent-color-dark);
  }

  /* VSL */

  .vsl a {
    background-color: var(--accent-color-dark);
  }
  .vsl .vsl-video:hover {
    animation: none;
  }
  .vsl a:hover {
    transition: none;
    background-color: var(--accent-color-dark);
  }

  /* Testimonial Section */

  .testimonial .testimonial-heading {
    line-height: 1.3;
  }
  .testimonial .cards {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
  }
  .testimonial .card {
    max-width: 350px;
  }

  /* Pricing Section */

  .price-plans {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
  .plan-option {
    max-width: 300px;
  }

  /* Footer */

  footer .container {
    height: 400px;
  }
  .footer-content {
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas:
      "form form form"
      "company-info resources-info contact-info";
  }
  .newsletter-form {
    grid-area: form;
  }
  .company-info {
    grid-area: company-info;
  }
  .resources-info {
    grid-area: resources-info;
  }
  .contact-info {
    grid-area: contact-info;
  }
}

/* Responsive: Mobile */

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  /* Navbar */

  nav .desktop-view {
    display: none;
  }
  nav .mobile-view {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 0px 16px;
    border-radius: 1rem;
  }
  nav .mobile-view ul.section-links li.section-name i {
    color: black;
    font-size: 1rem;
  }

  .nav-container ul.section-links li.section-name a:hover {
    color: black;
    padding-bottom: 0px;
    border-bottom: none;
  }

  nav .mobile-view a.log-in-btn i.fa-user {
    margin-right: 0px;
    color: white;
  }
  nav .mobile-view a.log-in-btn:hover {
    background-color: var(--accent-color);
  }

  /* Hero Section */

  .hero .container {
    background: url(Images/hero-bg-mobile.png) no-repeat center bottom / contain;
    min-height: 850px;
  }
  .hero .hero-title-description {
    align-items: center;
  }
  .hero .hero-title-description h1 {
    text-align: center;
    font-size: 1.7rem;
  }
  .hero .hero-title-description p {
    text-align: center;
    font-size: 0.8rem;
  }
  .hero .hero-btn {
    display: block;
    text-align: center;
  }
  .hero .primary-btn {
    background-color: var(--accent-color-dark);
    margin-bottom: 10px;
  }

  /* VSL */

  .vsl .vsl-heading {
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .vsl a {
    background-color: var(--accent-color-dark);
  }
  .vsl .vsl-video:hover {
    animation: none;
  }
  .vsl a:hover {
    transition: none;
    background-color: var(--accent-color-dark);
  }

  /* Testimonial */

  .testimonial .testimonial-heading {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .testimonial .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .testimonial .card {
    max-width: 350px;
  }

  /* Pricing */

  .price-plans {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
  .plan-option {
    max-width: 300px;
  }

  /* Footer */

  footer .container {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .footer-content {
    grid-template-columns: 1fr;
    padding: 0px 5px;
  }
  .footer-content ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
